.btn
	position: relative
	display: flex
	align-items: center
	justify-content: center
	border: none
	outline: none
	background: $text
	text-align: center
	border-bottom: 1px solid #d2481c
	border-right: 1px solid #d2481c
	transition: all .6s
	max-width: 380px
	height: 50px
	font-weight: 700
	color: #fff
	text-transform: uppercase
	background-color: #ff5722
	border-radius: 5px
	font-size: 18px
	letter-spacing: 1px

	&:hover,
	&:focus
		outline: none
		text-decoration: none
		cursor: pointer
		background-color: #d2481c
		color: #fff

		span
			right: -8vw


